@main(3) {


    <style>
            #templateTable {
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 60px;
            }

            #templateTable th, td {
                text-align: left;
                padding: 8px;
            }

            #templateTable tr:nth-child(even) {
                background-color: #f2f2f2
            }
    </style>

    <script src='@routes.Assets.at("js/Chart.bundle.min.js")'></script>
    <script src='@routes.Assets.at("js/randomColor.js")'></script>

    <script src='@routes.Assets.at("js/bootstrap-table.js")'></script>

    <script type="text/javascript" src='@routes.Assets.at("js/tableExport/tableExport.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("js/tableExport/jquery.base64.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("js/tableExport/html2canvas.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("js/tableExport/jspdf/libs/sprintf.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("js/tableExport/jspdf/jspdf.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("js/tableExport/jspdf/libs/base64.js")'></script>

    <script src='@routes.Assets.at("js/qt21/resultTable.js")'></script>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Compare systems that are evaluated by the same test set.
                </div>

                <div class="panel-body">
                    <table id="templateTable">
                        <tr>
                            <th onclick="sortTable(0)">Set ID</th>
                            <th>Systems</th>
                            <th onclick="sortTable(2)">Timestamp</th>
                            <th>Compare</th>
                        </tr>
                        @for((k, v) <- Template.getTemplatesAndReports()) {
                            <tr>
                                <td>@k</td>
                                <td>
                                @for(x <- v) {
                                    @QTSys.toSelection(x) <br>
                                    }
                                </td>
                                <td>
                                @for(x <- v) {
                                    @x.datetime <br>
                                    }
                                </td>
                                <td><button type="button" id="@k" th="@for(x <- v) {
                                    <th class='right'> @QTSys.toSelection(x) </th>
                            }" class="btn btn-default compareBtn">compare</button>
                                </td>
                            </tr>
                        }
                    </table>

                    <div style="height: 80%" id="loaderContainer">
                        <div id="loader"></div>
                    </div>

                    <div id="tableContent">
                        <div class="row col-lg-12">
                            Group by:
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default b-or-c">category</button>
                                <button type="button" class="btn btn-default active b-or-c">phenomenon</button>
                            </div>

                                &nbsp;&nbsp;show table with:
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default np">number</button>
                                <button type="button" class="btn btn-default active np">percentage</button>
                            </div>


                                    &nbsp;&nbsp;
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default active choosePercentage">Pass</button>
                                    <button type="button" class="btn btn-default choosePercentage">Fail</button>
                                    <button type="button" class="btn btn-default choosePercentage">Warning</button>
                                </div>




                                <div class="btn-group pull-right">
                                <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-export"></i>
                                    Export Table Data</button>
                                <ul class="dropdown-menu " role="menu">
                                    <li><a href="#" onClick ="$('#textTable').tableExport({
                                        type: 'csv',
                                        escape: 'false'
                                    });"> <img src='@routes.Assets.at("images/csv.png")' width='24px'> CSV</a></li>
                                    <li><a href="#" onClick ="$('#textTable').tableExport({
                                        type: 'excel',
                                        escape: 'false'
                                    });"> <img src='@routes.Assets.at("images/xls.png")' width='24px'> XLS</a></li>
                                    <li><a href="#" onClick ="$('#textTable').tableExport({
                                        type: 'png',
                                        escape: 'false'
                                    });"> <img src='@routes.Assets.at("images/png.png")' width='24px'> PNG</a></li>
                                    <li><a href="#" onClick ="$('#textTable').tableExport({
                                        type: 'pdf',
                                        pdfFontSize: '10',
                                        escape: 'false'
                                    });"> <img src='@routes.Assets.at("images/pdf.png")' width='24px'> PDF</a></li>

                                </ul>
                            </div>
                        </div>


                        <div class="row col-lg-12">
                            <table id="textTable">

                            </table>
                        </div>

                        <div class="row col-lg-12">
                            <b>Correlations:</b>

                            <div class="btn-group pull-right">
                                <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-export"></i>
                                    Export Table Data</button>
                                <ul class="dropdown-menu " role="menu">
                                    <li><a href="#" onClick ="$('#correlationTable').tableExport({
                                        type: 'csv',
                                        escape: 'false'
                                    });"> <img src='@routes.Assets.at("images/csv.png")' width='24px'> CSV</a></li>
                                    <li><a href="#" onClick ="$('#correlationTable').tableExport({
                                        type: 'excel',
                                        escape: 'false'
                                    });"> <img src='@routes.Assets.at("images/xls.png")' width='24px'> XLS</a></li>
                                    <li><a href="#" onClick ="$('#correlationTable').tableExport({
                                        type: 'png',
                                        escape: 'false'
                                    });"> <img src='@routes.Assets.at("images/png.png")' width='24px'> PNG</a></li>
                                    <li><a href="#" onClick ="$('#correlationTable').tableExport({
                                        type: 'pdf',
                                        pdfFontSize: '10',
                                        escape: 'false'
                                    });"> <img src='@routes.Assets.at("images/pdf.png")' width='24px'> PDF</a></li>

                                </ul>
                            </div>
                        </div>


                        <div class="row col-1g-12">
                            <table id="correlationTable" class="col-lg-12">

                            </table>
                        </div>


                        <div class="row col-lg-12">
                            <div>
                                    Percentage:

                                <div class="btn-group pull-right">
                                    <button onClick ="$('#percentage-chart').tableExport({
                                        type: 'png',
                                        escape: 'false'
                                    });" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-export"></i>
                                        Export Graph</button>

                                </div>
                            </div>
                            <div class="canvas-wrapper">
                                <canvas class="main-chart" id="percentage-chart" height="300" width="600"></canvas>
                            </div>

                        </div>

                        <div class="col-xs-12" style="height: 50px;"></div>

                        <div class="row col-lg-12">
                            <div><b>Percentage per Phenomenon:</b>
                                <div class="btn-group pull-right">
                                    <button onClick ="$('#bar-chart').tableExport({
                                        type: 'png',
                                        escape: 'false'
                                    });" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-export"></i>
                                        Export Graph</button>

                                </div>
                            </div>
                            <div class="canvas-wrapper">
                                <canvas class="main-chart" id="bar-chart" height="300" width="600"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"  id="orderModal" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 id="myModalLabel">Delete</h3>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button data-dismiss="modal" class="btn red" id="btnYes">Confirm</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        var colorArray = ["rgb(227, 200, 0)",
            "rgb(170, 0, 255)",
            "rgb(0, 138, 0)",
            "rgb(229, 20, 0)",
            "rgb(0, 80, 239)",
            "rgb(250, 104, 0)",
            "rgb(162, 0, 37)",
            "rgb(118, 96, 138)",
            "rgb(164, 196, 0)",
            "rgb(216, 0, 115)",
            "rgb(240, 163, 10)",
            "rgb(0, 171, 169)",
            "rgb(135, 121, 78)",
            "rgb(244, 114, 208)",
            "rgb(109, 135, 100)"];

            function sortTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                table = document.getElementById("templateTable");
                switching = true;
                //Set the sorting direction to ascending:
                dir = "asc";
                /*Make a loop that will continue until
                 no switching has been done:*/
                while (switching) {
                    //start by saying: no switching is done:
                    switching = false;
                    rows = table.getElementsByTagName("TR");
                    /*Loop through all table rows (except the
                     first, which contains table headers):*/
                    for (i = 1; i < (rows.length - 1); i++) {
                        //start by saying there should be no switching:
                        shouldSwitch = false;
                        /*Get the two elements you want to compare,
                         one from current row and one from the next:*/
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        /*check if the two rows should switch place,
                         based on the direction, asc or desc:*/
                        if (dir == "asc") {
                            if(n===0){
                                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                    //if so, mark as a switch and break the loop:
                                    shouldSwitch = true;
                                    break;
                                }
                            } else if (n===2){
                                var xa = x.innerHTML.split("<br>").map(function(x){return x.trim()});
                                var xl = xa.sort(function (a, b) { return b>a; })[0];
                                var ya = y.innerHTML.split("<br>").map(function(x){return x.trim()});
                                var yl = ya.sort(function (a, b) { return b>a; })[0];
                                if(xl>yl){
                                    shouldSwitch=true;
                                    break;
                                }
                            }

                        } else if (dir == "desc") {
                            if(n===0){
                                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                    //if so, mark as a switch and break the loop:
                                    shouldSwitch = true;
                                    break;
                                }
                            } else if (n===2){
                                var xa = x.innerHTML.split("<br>").map(function(x){return x.trim()});
                                var xl = xa.sort(function (a, b) { return b>a; })[0];
                                var ya = y.innerHTML.split("<br>").map(function(x){return x.trim()});
                                var yl = ya.sort(function (a, b) { return b>a; })[0];
                                if(xl<yl){
                                    shouldSwitch=true;
                                    break;
                                }
                            }

                        }
                    }
                    if (shouldSwitch) {
                        /*If a switch has been marked, make the switch
                         and mark that a switch has been done:*/
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        //Each time a switch is done, increase this count by 1:
                        switchcount++;
                    } else {
                        /*If no switching has been done AND the direction is "asc",
                         set the direction to "desc" and run the while loop again.*/
                        if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }

            document.getElementById("loaderContainer").style.display = "none";
            document.getElementById("tableContent").style.display = "none";

            var thValue;

            $('.compareBtn').click(function () {
                var id = $(this).attr('id');
                thValue = $(this).attr('th');
                $.ajax({
                    url: '/getComparisonData',
                    data: JSON.stringify({
                        'id': id
                    }),
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    beforeSend: function (data) {
                        $('#result-panel').css("display", "block");
                        document.getElementById("loaderContainer").style.display = "block";
                        document.getElementById("tableContent").style.display = "none";
                    },
                    success: function (data) {
                        document.getElementById("loaderContainer").style.display = "none";
                        document.getElementById("tableContent").style.display = "block";
                        refreshComparison(data);
                        getCorrelation(data);
                        resultData = data;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }
                });
            });

            var resultData;

            var borc = 'barrier';
            $('.b-or-c').click(function () {
                borc = this.innerHTML;
                if (borc === 'phenomenon') borc = 'barrier'
                //reload(reportid);
                refreshComparison(resultData);
                $('.b-or-c').toggleClass('active');
            });

            var norp = 'percentage';
            $('.np').click(function () {
                norp = this.innerHTML;
                refreshComparison(resultData);
                $('.np').toggleClass('active');
            });


        var chosenPercentage = 'Pass';
        $('.choosePercentage').click(function() {
            chosenPercentage = this.innerHTML;
            refreshComparison(resultData);
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
        });

            var percentageData = {
                labels: [],
                datasets: []
            }
            var ctx2 = document.getElementById("percentage-chart").getContext("2d");
            window.myBarPercentage = new Chart(ctx2, {
                type: 'bar',
                data: percentageData,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: ''
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        enabled: true,
                        mode: 'single',
                        callbacks: {
                            label: function (tooltipItems, data) {
                                return tooltipItems.yLabel + '%';
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                maxTicksLimit: 5,
                                callback: function (value, index, values) {
                                    return value + '%';
                                }
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                autoSkip: false,
                                maxTicksLimit: 20
                            }
                        }]
                    }
                }
            });

            var groupedData = {
                labels: [],
                datasets: []
            }
            var ctx = document.getElementById("bar-chart").getContext("2d");
            window.groupChart = new Chart(ctx, {
                type: 'bar',
                data: groupedData,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: ''
                    },
                    legend: {
                        display: true,
                        position: 'bottom'
                    },
                    tooltips: {
                        enabled: true,
                        mode: 'single',
                        callbacks: {
                            label: function (tooltipItems, data) {
                                return tooltipItems.yLabel + '%';
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                maxTicksLimit: 5,
                                callback: function (value, index, values) {
                                    return value + '%';
                                }
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                autoSkip: false,
                                maxTicksLimit: 20
                            }
                        }]
                    }
                }
            });

            function refreshComparison(compData) {

                var labels = new Array();

                var totals = new Array();

                var percentages = new Array();

                var allp = new Array();

                var totalsall = 0;

                for (j = 0; j < compData.length; j++) {
                    var passMap = new Map();
                    var failMap = new Map();
                    var warnMap = new Map();
                    var data = compData[j];
                    for (i = 0; i < data.length; i++) {
                        var temp = data[i];

                        var barrier = temp[borc];

                        var theMap;
                        if (temp['pass'] === "<i class='glyphicon glyphicon-ok isBlocked' style='color:black'></i>") theMap = passMap;
                        else if (temp['pass'] === "<i class='glyphicon glyphicon-remove isBlocked' style='color:black'></i>") theMap = failMap;
                        else theMap = warnMap;

                        if (theMap.has(barrier)) {
                            theMap.set(barrier, theMap.get(barrier) + 1);
                        } else {
                            theMap.set(barrier, 1);
                        }

                        if (labels.indexOf(barrier) === -1) labels.push(barrier);
                    }

                    var passData = new Array();
                    var failData = new Array();
                    var warnData = new Array();

                    var pData = new Array();
                    var allpass = 0;

                    for (i = 0; i < labels.length; i++) {
                        var label = labels[i];
                        if (passMap.has(label)) passData.push(passMap.get(label));
                        else passData.push(0);

                        if (failMap.has(label)) failData.push(failMap.get(label));
                        else failData.push(0);

                        if (warnMap.has(label)) warnData.push(warnMap.get(label));
                        else warnData.push(0);

                        var passp = passMap.has(label) ? passMap.get(label) : 0;
                        var failp = failMap.has(label) ? failMap.get(label) : 0;
                        var warnp = warnMap.has(label) ? warnMap.get(label) : 0;
                        var total = passp + failp + warnp;
                        if (total === 0)
                            pData.push(0.0);
                        else
                            switch(chosenPercentage){
                                case 'Pass':
                                    pData.push(((passp / total) * 100).toFixed(1));
                                    break;
                                case 'Fail':
                                    pData.push(((failp / total) * 100).toFixed(1));
                                    break;
                                case 'Warning':
                                    pData.push(((warnp / total) * 100).toFixed(1));
                                    break;

                            }


                        //push total only once.
                        if (totals.length < labels.length) {
                            totals.push(total);
                            //add to total
                            totalsall += total;
                        }
                        //add pass
                        switch(chosenPercentage){
                            case 'Pass':
                                allpass += ((passMap.has(label)) ? passMap.get(label) : 0);
                                break;
                            case 'Fail':
                                allpass += ((failMap.has(label)) ? failMap.get(label) : 0);
                                break;
                            case 'Warning':
                                allpass += ((warnMap.has(label)) ? warnMap.get(label) : 0);
                                break;

                        }

                    }
                    percentages.push(pData);
                    allp.push(allpass);
                }

                //render table now
                $('#textTable').empty();
                $('#textTable').append('<tr><th></th><th class="right">#</th><tr>');
                $('#textTable th:last-child').after(thValue);

                for (var i = 0; i < labels.length; i++) {
                    $('#textTable tr:last').after('<tr><td>' + labels[i] + '</td><td class="right">' + totals[i] + '</td></tr>');
                    for (var j = 0; j < percentages.length; j++) {
                        if (norp === 'percentage')
                            $('#textTable td:last').after("<td class='right' onclick=\"showSamples(\'"+labels[i]+"\',"+j+")\">" + percentages[j][i] + '%</td>');
                        else
                            $('#textTable td:last').after("<td class='right' onclick=\"showSamples(\'"+labels[i]+"\',"+j+")\">" + (totals[i] * percentages[j][i] / 100).toFixed(0) + '</td>');
                    }
                }

                $('#textTable tr:last').after('<tr><td>Sum</td><td class="right">' + totalsall + '</td></tr>');
                for (var i = 0; i < allp.length; i++) {
                    $('#textTable td:last').after('<td class="right">' + allp[i] + '</td>');
                }

                $('#textTable tr:last').after('<tr><td>Average</td><td></td></tr>');
                for (var i = 0; i < allp.length; i++) {
                    $('#textTable td:last').after('<td class="right">' + (allp[i] / totalsall * 100).toFixed(1) + '%</td>');
                }

                //set bold to the highest values
                $("#textTable tbody tr").each(function (i) {
                    var data = [];
                    var x = $(this);
                    var cells = x.find('td');
                    var max = 0;
                    var maxtext;
                    $(cells).each(function (i) {
                        var d = $(this).text();
                        if (d.indexOf('%') !== -1) {
                            data.push(d);
                            if (parseFloat(d) > max) {
                                maxtext = d;
                                max = parseFloat(d);
                            }
                        }
                    });
                    //highlight
                    $(cells).each(function (i) {
                        var d = $(this).text();
                        if (d === maxtext) $(this).css('font-weight', 'bold');
                    });
                });

                //now the graphs
                var tmplabels = thValue.split(/<th class='right'>/);
                var finallabels=[]
                for (label of tmplabels) {
                    var ll = label.trim();
                    if (ll.length > 0)
                        finallabels.push(ll.replace('</th>', '').trim());
                }
                var colors = [];
                for (var i = 0; i < percentageData.labels.length; i++)
                    colors.push(colorArray[i]);

                percentageData.labels=finallabels;
                percentageData.datasets = [{
                    backgroundColor:colors,
                    data: allp.map(function(x) {return (x/totalsall*100).toFixed(1)})
                }];
                window.myBarPercentage.update();

                //sort alphabetically. is so creepy.
                var newlabels=[];
                var newtotals = [];
                var newpercentages = new Array(percentages.length);
                newlabels.push(labels[0]);
                newtotals.push(totals[0]);
                for(i=0;i<percentages.length;i++){
                    newpercentages[i]=[];
                    newpercentages[i].push(percentages[i][0])
                }

                for (i = 1; i < labels.length; i++) {
                    var j = 0;
                    for (; labels[i] > newlabels[j]; j++);
                    newlabels.splice(j,0,labels[i]);
                    newtotals.splice(j,0,totals[i]);
                    for(k=0;k<percentages.length;k++)
                        newpercentages[k].splice(j,0,percentages[k][i]);

                }


                groupedData.labels=newlabels.map(function(x,i){return ['',x,'(N='+ newtotals[i]+')']});
                var newgroupdata = [];
                for(var i=0;i<finallabels.length;i++){

                    newgroupdata.push({
                        label:finallabels[i],
                        backgroundColor:colors[i],
                        data:newpercentages[i]
                    })
                }
                groupedData.datasets=newgroupdata;
                window.groupChart.update();
            }



            function getCorrelation(data) {
                var datanew = data.map(function (x) {
                    return x.map(function (y) {
                        if (y.pass === "<i class='glyphicon glyphicon-ok isBlocked' style='color:black'></i>")
                            return 0;
                        else if (y.pass === "<i class='glyphicon glyphicon-remove isBlocked' style='color:black'></i>")
                            return 1;
                        else return 2;
                    })
                });

                $('#correlationTable').empty();
                $('#correlationTable').append('<tr><th></th><tr>');
                $('#correlationTable th:last-child').after(thValue);
                var titles = thValue.split(/<\/th>\s*<th class='right'>/).map(function (x) {
                    return x.replace("<th class='right'>", "").replace("</th>", "").trim()
                });

                for (var i = 0; i < titles.length; i++) {
                    $('#correlationTable tr:last').after('<tr><td>' + titles[i] + '</td></tr>');

                    for (var j = 0; j <= i; j++) {
                        $('#correlationTable td:last').after('<td class="right">' + getPearsonCorrelation(datanew[i], datanew[j]).toFixed(2) + '</td>');
                    }
                }
            }

            function getPearsonCorrelation(x, y) {
                var shortestArrayLength = 0;

                if (x.length == y.length) {
                    shortestArrayLength = x.length;
                } else if (x.length > y.length) {
                    shortestArrayLength = y.length;
                    console.error('x has more items in it, the last ' + (x.length - shortestArrayLength) + ' item(s) will be ignored');
                } else {
                    shortestArrayLength = x.length;
                    console.error('y has more items in it, the last ' + (y.length - shortestArrayLength) + ' item(s) will be ignored');
                }

                var xy = [];
                var x2 = [];
                var y2 = [];

                for (var i = 0; i < shortestArrayLength; i++) {
                    xy.push(x[i] * y[i]);
                    x2.push(x[i] * x[i]);
                    y2.push(y[i] * y[i]);
                }

                var sum_x = 0;
                var sum_y = 0;
                var sum_xy = 0;
                var sum_x2 = 0;
                var sum_y2 = 0;

                for (var i = 0; i < shortestArrayLength; i++) {
                    sum_x += x[i];
                    sum_y += y[i];
                    sum_xy += xy[i];
                    sum_x2 += x2[i];
                    sum_y2 += y2[i];
                }

                var step1 = (shortestArrayLength * sum_xy) - (sum_x * sum_y);
                var step2 = (shortestArrayLength * sum_x2) - (sum_x * sum_x);
                var step3 = (shortestArrayLength * sum_y2) - (sum_y * sum_y);
                var step4 = Math.sqrt(step2 * step3);
                var answer = step1 / step4;

                return answer;
            }

            Chart.plugins.register({
                afterDatasetsDraw: function(chart, easing) {
                    // To only draw at the end of animation, check for easing === 1
                    var ctx = chart.ctx;

                    chart.data.datasets.forEach(function (dataset, i) {
                        var meta = chart.getDatasetMeta(i);
                        if (!meta.hidden) {
                            meta.data.forEach(function(element, index) {
                                // Draw the text in black, with the specified font
                                ctx.fillStyle = 'rgb(0, 0, 0)';

                                var fontSize = 10;
                                var fontStyle = 'normal';
                                var fontFamily = 'Helvetica Neue';
                                ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                                // Just naively convert to string for now
                                var dataString = dataset.data[index].toString()+'%';

                                // Make sure alignment settings are correct
                                ctx.textAlign = 'center';
                                ctx.textBaseline = 'middle';

                                var padding = 5;
                                var position = element.tooltipPosition();
                                ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);

                            });
                        }
                    });
                }
            });

        var samples;

        $("#percentage-chart").click(function(e) {
            var activeBars = myBarPercentage.getElementAtEvent(e);
            var index = activeBars[0]._index;
            var pass = $('.choosePercentage.active')[0].innerHTML;

            samples = $.grep(resultData[index], function(v) {
                var filter = 'ok';
                if(pass==='Fail') filter = 'remove';
                else if (pass==='Warning') filter = 'alert'
                return v['pass'].indexOf(filter)>0;
            });


            $.get('/getSampleSentences',
                    function (res) {
                        $('.modal-content').html(res);

                    });

            $('#orderModal').modal('show');
        });

        $("#bar-chart").click(function(e) {
            var activeBars = groupChart.getElementAtEvent(e);
            var label = activeBars[0]._model['label'][1];
            var pass = $('.choosePercentage.active')[0].innerHTML;
            var index = activeBars[0]._datasetIndex;

            samples = $.grep(resultData[index], function(v) {
                var filter = 'ok';
                if(pass==='Fail') filter = 'remove';
                else if (pass==='Warning') filter = 'alert'
                return v['pass'].indexOf(filter)>0 && (v['category']===label || v['barrier']===label);
            });


            $.get('/getSampleSentences',
                    function (res) {
                        $('.modal-content').html(res);

                    });

            $('#orderModal').modal('show');
        });

        function showSamples(label,j){
            console.log(label);
            console.log(j);
            var pass = $('.choosePercentage.active')[0].innerHTML;
            samples = $.grep(resultData[j], function(v) {
                var filter = 'ok';
                if(pass==='Fail') filter = 'remove';
                else if (pass==='Warning') filter = 'alert'
                return v['pass'].indexOf(filter)>0 && (v['category']===label || v['barrier']===label);
            });


            $.get('/getSampleSentences',
                    function (res) {
                        $('.modal-content').html(res);

                    });

            $('#orderModal').modal('show');
        }

    </script>

}