@(source:String,translation:String,pr:String,nr:String,pt:String,nt:String,sentenceid:String)

<div class="row col-md-12" style="background-color: #f7f7f7;padding-top:20px;padding-bottom: 20px;margin-left: 20px;margin-right:20px;border-radius: 8px;">

            <div class="input-group  col-lg-12 col-md-12" style="border-color:#46b8da">
                <span class="input-group-addon" style="border-color:#46b8da">Source:</span>
                <input type="text" disabled id="source" style="border-color:#46b8da" class="form-control" aria-describedby="basic-addon3" value='@source'>
            </div>

            <br>
            <div id="evaluation" class="input-group has-success col-lg-12 col-md-12">
                <span class="input-group-addon" >Translation:</span>
                <input type="text" class="form-control" id="translation" aria-describedby="basic-addon3" value="@translation" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px">
                <span class="glyphicon glyphicon-remove form-control-feedback" id="feedbackIcon"></span>
            </div>
            <br>

            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label>Positive Regex:</label>
                    <textarea type="text" oninput="checkpass()" class="form-control" id="pregex" aria-describedby="basic-addon3">@pr</textarea>
                </div>

                <div class="form-group col-lg-6 col-md-6">
                    <label >Negative Regex:</label>
                    <textarea type="text" class="form-control" oninput="checkpass()" id="nregex" aria-describedby="basic-addon3">@nr</textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label >Positive Tokens:</label>
                    <textarea type="text" class="form-control" oninput="checkpass()" id="ptoken" aria-describedby="basic-addon3" >@pt</textarea>
                </div>

                <div class="form-group col-lg-6 col-md-6">
                    <label >Negative Tokens:</label>
                    <textarea type="text" class="form-control" oninput="checkpass()" id="ntoken" aria-describedby="basic-addon3" >@nt</textarea>
                </div>
            </div>

    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-info" onclick="updateRules()"><span class="glyphicon glyphicon-wrench"></span>  Update rules and result</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="discardChanges()"><span class="glyphicon glyphicon-trash"></span>  Discard changes</button>
        </div>
    </div>

</div>



<script>



    var sentenceid='@sentenceid';
    var vpass;

    function updateRules(){

//        //update sentences table
//        $.ajax({
//                type: 'POST',
//                url: '/updatePass',
//                data: JSON.stringify({
//                    'report': reportid,
//                    'id': sentenceid,
//                    'pass': vpass
//                }),
//                success: function(data) {},
//                contentType: 'application/json',
//                dataType: 'json'
//        });

        //update rules table
        $.ajax({
                type: 'POST',
                url: '/updateRules',
                data: JSON.stringify({
                    'direction': direction,
                    'id': sentenceid,
                    'pr': $('#pregex').val(),
                    'nr': $('#nregex').val(),
                    'pt': $('#ptoken').val(),
                    'nt': $('#ntoken').val()
                }),
                success: function(data) {},
                contentType: 'application/json',
                dataType: 'json'
        });

        //update the row in table directly
        //var newRow = JSON.parse(JSON.stringify(openedRow));

        if(vpass==1){
            openedRow['pass']="<i class='glyphicon glyphicon-ok isBlocked' style='color:black'></i>";
        } else if(vpass==2){
            openedRow['pass']="<i class='glyphicon glyphicon-remove isBlocked' style='color:black'></i>";
        } else if(vpass==4){
            openedRow['pass']="<i class='glyphicon glyphicon-exclamation-sign isBlocked' style='color:black'></i>";
        } else {
            openedRow['pass']="<i class='glyphicon glyphicon-alert' style='color:black'></i>";
        }
        openedRow['positiveRegex']=$('#pregex').val();
        openedRow['negativeRegex']=$('#nregex').val();
        openedRow['positiveTokens']=$('#ptoken').val();
        openedRow['negativeTokens']=$('#ntoken').val();

        $('#result-table').bootstrapTable('updateRow', {
                index: openedIndex,
                row: openedRow
        });

        $('#result-table').find('tbody').find('tr')[openedIndex].className += ' marked';

        $('#orderModal').modal('hide');

        //renderPassRows();
    }

    function checkpass(){
        var vpr = $('#pregex').val();
        var vnr = $('#nregex').val();
        var vpt = $('#ptoken').val();
        var vnt = $('#ntoken').val();

        var trans = $('#translation').val();

        var spass = false;
        var sfail = false;
        var sregex = false;

        $('#pregex').css('background-color' , '#ffffff');
        $('#nregex').css('background-color' , '#ffffff');

        //check regex
        if(vpr.length>0 || vnr.length>0){
            try{
                if (vpr.length>0 && new RegExp(vpr,'').test(trans)){
                    spass=true;
                }
            } catch (err) {
                $('#pregex').css('background-color' , '#B2FDFD');
                sregex=true;
            }

            try{
                if (vnr.length>0 && new RegExp(vnr,'').test(trans)){
                    sfail=true;
                }
            } catch (err) {
                $('#nregex').css('background-color' , '#B2FDFD');
                sregex=true;
            }


        }
        //new: when both positive and negative regex fail, check the tokens
        if(!spass && !sfail){
            if (vpt.length>0 && new RegExp(vpt).test(trans)) {
                spass=true;
            }
            if (vnt.length>0 && new RegExp(vnt).test(trans)) {
                sfail=true;
            }
        }

        if(vpr.indexOf('\n')>0){
            $('#pregex').css('background-color' , '#B2FDFD');
            sregex=true;
        }
        if(vnr.indexOf('\n')>0){
            $('#nregex').css('background-color' , '#B2FDFD');
            sregex=true;
        }

        if(sregex) {
            vpass=4;
            $('#evaluation').removeClass (function (index, className) {
                return (className.match (/\bhas-\S+/g) || []).join(' ');
            }).addClass('has-info has-feedback');

            $('#feedbackIcon').removeClass (function (index, className) {
                return (className.match (/\bglyphicon-\S+/g) || []).join(' ');
            }).addClass('glyphicon-exclamation-sign');
        }
        else if(spass && !sfail){
            vpass=1;

            $('#evaluation').removeClass (function (index, className) {
                return (className.match (/\bhas-\S+/g) || []).join(' ');
            }).addClass('has-success has-feedback');

            $('#feedbackIcon').removeClass (function (index, className) {
                return (className.match (/\bglyphicon-\S+/g) || []).join(' ');
            }).addClass('glyphicon-ok');
        } else if(!spass && sfail) {
            vpass=2;
            $('#evaluation').removeClass (function (index, className) {
                return (className.match (/\bhas-\S+/g) || []).join(' ');
            }).addClass('has-error has-feedback');
            $('#feedbackIcon').removeClass (function (index, className) {
                return (className.match (/\bglyphicon-\S+/g) || []).join(' ');
            }).addClass('glyphicon-remove');

        } else {
            vpass=3;
            $('#evaluation').removeClass (function (index, className) {
                return (className.match (/\bhas-\S+/g) || []).join(' ');
            }).addClass('has-warning has-feedback');
            $('#feedbackIcon').removeClass (function (index, className) {
                return (className.match (/\bglyphicon-\S+/g) || []).join(' ');
            }).addClass('glyphicon-alert');
        }
    }

    var pregex = $('#pregex').val();
    var nregex = $('#nregex').val();
    var ptoken = $('#ptoken').val();
    var ntoken = $('#ntoken').val();

    function discardChanges(){
        $('#pregex').val(pregex);
        $('#nregex').val(nregex);
        $('#ptoken').val(ptoken);
        $('#ntoken').val(ntoken);
        $('#translation').val("@Html(translation)");

        checkpass();
    }

    checkpass();

</script>

