@import play.api.libs.json.Json
@main(3) {

<style>

</style>

<style>
    canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    }
</style>

    <script src='@routes.Assets.at("js/bootstrap-table.js")'></script>
    <!--<script src='@routes.Assets.at("js/bootstrap-table-export.js")'></script>-->
    <script src='@routes.Assets.at("js/bootstrap-table-filter-control.js")'></script>
    <script src='@routes.Assets.at("js/bootstrap-table-editable.js")'></script>
    <!--<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>-->
    <!--<script src='@routes.Assets.at("js/chart/chart.js")'></script>-->
    <!--<script src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js'></script>-->
    <script src='@routes.Assets.at("js/Chart.bundle.min.js")'></script>
    <script src='@routes.Assets.at("js/bootstrap-editable.js")'></script>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="comment">Comment:</label>

                        <div class="input-group col-sm-9">
                            <input type="text" class="form-control" id="comment" placeholder="Leave empty if no comment should be specified">

                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="applyComment()">Apply</button>
                                <button class="btn btn-default" type="button" onclick="cleanComment()">Clean</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="filterEngine">Engine:</label>

                        <div class="btn-group" role="group" aria-label="..." id="filterEngine">
                            <!--<button type="button" class="btn btn-default">1</button>-->
                            <div class="btn-group sub-group" role="group" id="engine">
                                <button type="button" id="btnEngine" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Engine.getEngines.apply(0)
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @Engine.getEngines.map{e =>
                                    <li><a href="#">@e</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="btn-group sub-group" role="group" id="type">
                                <button type="button" id="btnType" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @EngineType.getEngineTypes.apply(0)
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @EngineType.getEngineTypesFull.map{e =>
                                    <li><a href="#">@e</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="btn-group sub-group" role="group" id="language">
                                <button type="button" id="btnLanguage" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @LangDirection.getLangDirections.apply(0)
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @LangDirection.getLangDirections.map{e =>
                                    <li><a href="#">@e</a></li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="control-label col-sm-2" for="templateid">Template ID: </label>

                        <div class="col-sm-6" style="padding:0">
                            <select id="templateid" class="selectpicker" data-width="fit" data-size="8" data-live-search="true">

                                @Report.getTemplateIDs.map{e =>
                                <option>@e</option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="datetime">Data & Time:</label>

                        <div class="col-sm-6" style="padding:0">
                            <select id="datetime" class="selectpicker" data-width="fit" data-size="8" data-live-search="true">

                                @Report.getTimeID(Engine.getEngines()(0)).as[List[Report]].map{e =>
                                <option>@e.time</option>
                                }

                            </select>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="panel panel-default col-lg-12" id="result-panel" style="margin-bottom:0px;">
        <div class="panel-body">
            <div style="height:80%" id="loaderContainer">
                <div id="loader"></div>
            </div>

            <div id="tableContent">
                <div class="row">

                    <!--<div id="toolbar" class="btn-group" role="group">-->
                        <!--<button type="button" class="btn btn-default" id="warningButton"></button>-->
                        <!--<button type="button" class="btn btn-default" id="ruleButton"><i class='glyphicon glyphicon-list notShowing' style='color:black;top:-1px;'></i></button>-->
                    <!--</div>-->

                    <table data-toggle="table" id="result-table"
                           data-height="620"
                           data-filter-control="true"
                           data-sort-name="id" data-sort-order="asc"
                           class="table-striped"
                           data-row-style="rowStyle">
                        <thead>
                        <tr>
                            <th id="passColumn" data-field="pass" data-halign="center" data-filter-control="select"><i id="toggleWarning" class="glyphicon glyphicon-info-sign" style="color:black;top:-3px;"></i></th>
                            <th data-field="id" data-halign="center"  data-sortable="true" data-filter-control="input">ID data point</th>
                            <th data-field="source" data-halign="center" data-sortable="true" data-filter-control="input">Source</th>
                            <th data-field="category" data-halign="center" data-sortable="true" data-filter-control="select">Category</th>
                            <th data-field="barrier" data-halign="center" data-sortable="true" data-filter-control="select">Phenomenon</th>
                            <th data-field="translation" data-halign="center" data-sortable="true" data-filter-control="input">Translation</th>
                            <th data-field="comment" data-halign="center" data-editable="true" data-sortable="true" data-filter-control="input">Comment</th>
                            <th data-field="positiveTokens" data-visible="false" data-halign="center" >PositiveTokens</th>
                            <th data-field="positiveRegex" data-visible="false" data-halign="center" >PositiveRegex</th>
                            <th data-field="negativeTokens" data-visible="false" data-halign="center" >NegativeTokens</th>
                            <th data-field="negativeRegex" data-visible="false" data-halign="center" >NegativeRegex</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <hr style="margin-top:100px !important; margin-left:-50px !important; margin-right:-20px !important;" class="span12"/>
                <div class="row col-lg-12">
                    Group by:
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default b-or-c">category</button>
                        <button type="button" class="btn btn-default active b-or-c">phenomenon</button>
                    </div>
                </div>

                <div class="row col-lg-12">
                    <table id="textTable">
                        <tr>
                            <th id="tableEngine">DFKI</th>
                            <th>#</th>
                            <th>%</th>
                        </tr>
                    </table>
                </div>

                <div class="row col-lg-12">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="percentage-chart" height="300" width="600"></canvas>
                    </div>

                </div>
                <div class="row col-lg-12">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="bar-chart" height="300" width="600"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


    <div class="modal fade"  id="orderModal" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<script src='@routes.Assets.at("js/qt21/resultTable.js")'></script>
<script>

var filter = {
    comment: "",
    engine: "",
    type: "",
    templateid: "",
    language: ""
};

var hasReport = true;
var chartData;

$(".dropdown-menu li a").click(function() {
    var selText = $(this).text();
    $(this).parents('.sub-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
    var kf = $(this).parents('.sub-group').attr('id');
    filter[kf] = selText;
    if (kf === 'language') filter[kf] = selText.replace("->", "").toLowerCase();
    console.log(filter);
    refreshFilter();
    reload(reportid);
});

var reportAll = @Html(Json.stringify(Report.getFull()));
var reports = [];
var reportid;

var lastReport = reportAll[0];

function adaptFilter(){
    $('#engine').find('.dropdown-toggle').html(lastReport['engine'] + ' <span class="caret"></span>');
    $('#type').find('.dropdown-toggle').html(lastReport['type'] + ' <span class="caret"></span>');
    var lastLang = lastReport['lang'].substring(0, 2).toUpperCase() + '->' + lastReport['lang'].substring(2, 4).toUpperCase()
    $('#language').find('.dropdown-toggle').html(lastLang + ' <span class="caret"></span>');

    $('#templateid').selectpicker('val', lastReport.templateid);

    filter.engine = lastReport.engine;
    filter.type = lastReport.type;
    filter.language = lastReport.lang;
    filter.templateid = lastReport.templateid;
}

adaptFilter();



var direction = lastReport.lang;

function refreshFilter() {
    reports = [];
    for (var rp of reportAll) {
        if (rp.engine === filter['engine'] && rp.lang === filter['language'] && rp.type === filter['type']) {
            if(filter.comment==='')
                reports.push(rp);
            else{
                if(rp.comment===filter.comment)
                    reports.push(rp);
            }
        }
    }

    $('#datetime').empty();
    for (var rpnew of reports) {
        $('#datetime').append('<option>' + rpnew.time + '</option>');
    }
    $('#datetime').selectpicker('refresh');

    if (reports.length > 0) {
        reportid = reports[0].id;
        direction = reports[0].lang;
        hasReport = true;
    } else {
        hasReport = false;
    }

    reload(reportid);
}

function applyComment(){
    filter = {comment: "",engine: "",type: "",language: ""};
    var newComment = $('#comment').val();
    filter.comment=newComment;
    reports = [];
    for (var rp of reportAll) {
        if(rp.comment.indexOf(filter.comment) !== -1)
            reports.push(rp);
    }

    $('#datetime').empty();
    for (var rpnew of reports) {
        $('#datetime').append('<option>' + rpnew.time + '</option>');
    }
    $('#datetime').selectpicker('refresh');

    if (reports.length > 0) {
        reportid = reports[0].id;
        direction = reports[0].lang;
        hasReport = true;
        lastReport=reports[0];
        adaptFilter();
    } else {
        hasReport = false;
    }

    reload(reportid);

    $('#btnEngine').addClass('disabled');
    $('#btnType').addClass('disabled');
    $('#btnLanguage').addClass('disabled');
}

function cleanComment(){
    $('#btnEngine').removeClass('disabled');
    $('#btnType').removeClass('disabled');
    $('#btnLanguage').removeClass('disabled');

    $('#comment').val('');
    filter.comment='';
    lastReport=reportAll[0];
    adaptFilter();
    console.log(filter);
    refreshFilter();
}

refreshFilter();



$('#datetime').on('changed.bs.select', function(event, clickedIndex, newValue, oldValue) {
    reportid = reports[clickedIndex].id;
    reload(reportid);
    lastReport=reports[clickedIndex];
    adaptFilter();
});


//end of filter

var borc = 'barrier';
$('.b-or-c').click(function() {
    borc = this.innerHTML;
    if (borc === 'phenomenon') borc = 'barrier'
    //reload(reportid);
    refreshChart(chartData);
    $('.b-or-c').toggleClass('active');
});


function reload(newid) {
    if (hasReport) {
        $.ajax({
            type: 'POST',
            url: '/getReport',
            data: JSON.stringify({
                'id': newid,
                'direction': direction
            }),
            beforeSend: function(data) {
                $('#result-panel').css("display", "block");
                document.getElementById("loaderContainer").style.display = "block";
                document.getElementById("tableContent").style.display = "none";
            },
            success: function(data) {
                refreshTable(data);
                $('#lblTemplateid').html(lastReport.templateid);
                refreshChart(data);
                chartData = data;
                document.getElementById("loaderContainer").style.display = "none";
                document.getElementById("tableContent").style.display = "block";
            },
            contentType: 'application/json',
            dataType: 'json'
        });
    } else {
        document.getElementById("loaderContainer").style.display = "none";
        document.getElementById("tableContent").style.display = "none";
    }
}

var percentageData = {
    labels: [],
    datasets: []
}
var ctx2 = document.getElementById("percentage-chart").getContext("2d");
window.myBarPercentage = new Chart(ctx2, {
    type: 'bar',
    data: percentageData,
    options: {
        responsive: true,
        title: {
            display: true,
            text: 'Accuracy: Pass/(Pass+Fail)'
        },
        legend: {
            display: false
        },
        tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
                label: function(tooltipItems, data) {
                    return tooltipItems.yLabel + '%';
                }
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    maxTicksLimit: 5,
                    callback: function(value, index, values) {
                        return value + '%';
                    }
                }
            }],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20
                }
            }]
        }
    }
});

var barChartData = {
    labels: [],
    datasets: []
}
var ctx = document.getElementById("bar-chart").getContext("2d");

window.myBar = new Chart(ctx, {
    type: 'bar',
    data: barChartData,
    options: {
        responsive: true,
        title: {
            display: true,
            text: 'Statistics in number'
        },
        legend: {
            display: false
        },
        scales: {
            yAxes: [{
                stacked: true,
                ticks: {
                    beginAtZero: true,
                    callback: function(value) {
                        if (value % 1 === 0) {
                            return value;
                        }
                    }
                }
            }],
            xAxes: [{
                stacked: true,
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20
                }
            }]
        }
    }
});


function refreshChart(data) {
    var labels = new Array();
    var passMap = new Map();
    var failMap = new Map();
    var warnMap = new Map();

    for (i = 0; i < data.length; i++) {
        var temp = data[i];

        var barrier = temp[borc];

        var theMap;
        if (temp['pass'] === "<i class='glyphicon glyphicon-ok isBlocked' style='color:black'></i>") theMap = passMap;
        else if (temp['pass'] === "<i class='glyphicon glyphicon-remove isBlocked' style='color:black'></i>") theMap = failMap;
        else theMap = warnMap;

        if (theMap.has(barrier)) {
            theMap.set(barrier, theMap.get(barrier) + 1);
        } else {
            theMap.set(barrier, 1);
        }

        if (labels.indexOf(barrier) === -1) labels.push(barrier);
    }

    var passData = new Array();
    var failData = new Array();
    var warnData = new Array();

    var pData = new Array();

    for (i = 0; i < labels.length; i++) {
        var label = labels[i];
        if (passMap.has(label)) passData.push(passMap.get(label));
        else passData.push(0);

        if (failMap.has(label)) failData.push(failMap.get(label));
        else failData.push(0);

        if (warnMap.has(label)) warnData.push(warnMap.get(label));
        else warnData.push(0);

        var passp = passMap.has(label) ? passMap.get(label) : 0;
        var failp = failMap.has(label) ? failMap.get(label) : 0;
        var total = passp + failp;
        if (total === 0)
            pData.push(0.0);
        else
            pData.push(((passp / total) * 100).toFixed(1));
    }

    barChartData.labels = labels;
    barChartData.datasets = [{
            label: 'Pass',
            backgroundColor: "rgb(223,240,216)",
            data: passData
        },
        {
            label: 'Fail',
            backgroundColor: "rgb(242,222,222)",
            data: failData
        },
        {
            label: 'Warning',
            backgroundColor: "rgb(252,248,227)",
            data: warnData
        }
    ];

    window.myBar.update();


    var nlabels = new Array();
    var ndata = new Array();
    nlabels.push(labels[0]);
    ndata.push(pData[0]);
    for (i = 1; i < labels.length; i++) {
        var j = 0;
        for (; parseFloat(pData[i]) < parseFloat(ndata[j]); j++);
        ndata.splice(j, 0, pData[i]);
        nlabels.splice(j, 0, labels[i]);
    }

    percentageData.labels = nlabels;
    percentageData.datasets = [{
        backgroundColor: "rgb(223,240,216)",
        data: ndata
    }];

    window.myBarPercentage.update();


    //now the text table
    $('#tableEngine').html(lastReport.engine + ' ('+lastReport.type+')');
    $('#textTable tr').not(function(){ return !!$(this).has('th').length; }).remove();
    var sum=0;
    var allpass=0;
    for(i=0;i<labels.length;i++){
        var total = passData[i]+failData[i]+warnData[i];
        $('#textTable tr:last').after('<tr><td>'+labels[i]+'</td><td>'+total +'</td><td>'+ ((passData[i]/total)*100).toFixed(2)+'%</td></tr>');
        allpass+=passData[i];
        sum+=total;
    }
    $('#textTable tr:last').after('<tr><td>Sum</td><td>'+sum +'</td><td></td></tr>');
    $('#textTable tr:last').after('<tr><td>Average</td><td></td><td>'+ (allpass/sum*100).toFixed(2) +'%</td></tr>');
}

//reload(reportid);


</script>


}
